#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}
/* #89CFF0 */
body {
  background: #d8f1f9;

  margin: 0;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
}

.fc .fc-button-primary {
  background-color: #1c7aa5; 
}

.fc .fc-col-header-cell {
  background-color: #1c7aa5;
  color: white;
}
.fc-daygrid-day-frame {
  background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
